#error{
  text-align: center;
  padding-top: 3%;
  position relative
  .errorCode{
    width: 100%;
    position: absolute;
    top: 18vh;
    font-weight: 600;
    font-size: 36px;
    color: #393D65;
  }
  .errorText{
    margin 5% 0
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #ec2239, #40a4e2,#ea96f5);
  }
}
#vempty{
  text-align center
  .emptyText{
    color #7B8184
    margin-top 20px
  }
}